<ul>
  <% comments.each do |comment| %>
    <% if comment.id.present? %>
      <div class="balloon5">
        <div class="faceicon">
          <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
          <%= comment.user.name %>
          <% if current_user && current_user.id == comment.user.id %>
            <%= link_to event_comment_path(event_id: event.id, id: comment.id),
                method: :delete,
                remote: true,
                data: { confirm: "コメントを削除しますか？" } do %>
              <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
            <% end %>
          <% end %>
        </div>
        <div class="chatting">
          <div class="says">
            <p><%= comment.content %></p>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
</ul>
