// events/index.html.erbに関して
.event-field{
  padding-top: 10px;
  margin-left: 50px;
  margin-right: 50px;
}

.event-list{
  border-bottom: 1px solid;
  border-color: #999;
  padding-bottom: 10px;
}

.event-schedule-area p{
  margin: 0;
}

.event-schedule-area .date{
  font-size: 27px;
  font-weight: bold;
}

.event-schedule-area .time .dtstart{
  font-size: 20px;
}

.event-title{
  font-size: 20px;
}


// events/show.html.erbに関して
.event-show{
  margin: 16px;
  padding-bottom: 16px;
}

.event-show-list .title{
  font-size: 25.2px;
}

.event-show{
  border-bottom: 1px solid;
  border-color: #999;
}

.event-show-list .content{
  font-size: 20px;
}
.number-of-remaining-participants{
  text-align: center;
}
