<p>こんにちは <%= @resource.email %>!</p>

<p>パスワード変更のリクエストがありました。下記のリンクをクリックして変更して下さい。</p>

<p><%= link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>もし身に覚えがない場合、このメールは無視して下さい。</p>
<p>上記のリンクにアクセスして変更手続きをするまで、パスワードは変更されません</p>
